.topdes{
    background-color: #fff;
    margin-right :20px;
}
.topdes img{
    height:250px !important;
}

@font-face{
    font-family: 'sfu_futurabold';src:url("../font/Futura-Rounded/FuturaStd Bold.ttf");
}
@font-face{
    font-family: "proxima_nova_rgregular";src:url("../font/Proximanovaregular/FontsFree-Net-proxima_nova_reg-webfont.ttf");
}

.topdes .cta-card__content,.topdes h4{
    margin: 4% 0 4% 9%;
}
.topdes .tops{
    border: 2px solid transparent;
}
.topdes:hover .tops{
    border: 2px solid #F37920;
    transition: all 200ms linear;
}
#mtatuong h2{
    color: #fff;
    background-color: #F37920;
    padding:5px;
    font-size: 25px !important;
}
#mtatuong a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    margin: 4%;   
    border: 2px solid #F37920;
    padding: 14px 0;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.columnm img{
    border: 2px solid transparent;
}
.columnm img:hover{
    border:2px solid #F37920;
}
.btnn{
    text-align: center;
}
.btn.booktour{
    background-color: #F37920;
    transition: all 200ms linear;
}
.btn.booktour a{
    color: #fff;
    margin-right: 21px;
    font-size: 13px !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px 0;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.quick>li{
    font-size: 1rem !important;
}
.site-header .form--search input[type="text"]{
    font-size: 0.9rem;
    padding:2px;
}
.btn.booktour:hover{
    background-color: #fff;
}
.btn.booktour:hover a{
    color: #F37920;
}
.btn.viewtour{
    background-color: #fff;
}
.btn.viewtour a{
    color: #F37920;
    margin: 19px;
    font-size: 13px !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px 0;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn.viewtour:hover{
    background-color: #F37920;
}
.btn.viewtour:hover a{
    color: #fff;
}
#mtatuong{
    margin-top:40px !important;
}
.owl-controls .owl-nav .owl-prev,.owl-controls .owl-nav .owl-next{
    position: absolute !important;
    top: 150px !important;
    
}
.owl-controls .owl-nav .owl-prev{
    float: left !important;
    left: -38px !important;
}
.owl-controls .owl-nav .owl-next{
    float: right !important;
    right: -18px !important;
}
.contentt{
    /*margin:50px 0 20px 0;*/
    padding:30px 0 20px 0;
}
/*body {  overflow:hidden !important; }*/ 


.row{
    max-width: 100% !important;
}

.columnm{
    
    padding-right:0 !important;
}
.columnmm{
    padding-left:0 !important;
}
.columnmmm{
    padding-right:0 !important;
}
.row .medium-12.column{
    padding-right:0 !important;
}
.cta-card__image1{
    margin: 0 !important;
    width:100%;
    height:200px ;
    margin: 1px 0 !important;

}
.cta-card__image2{
    margin: 0 !important;
    width:100%;
    height:133px;
     margin: 1px 0 !important;
}
.menu-horizontal li:first-child{
        margin: 0 1rem;
}
h4 {
    font-family: "sfu_futurabold" !important;
    color: black;
    font-size: 25px;
}
span{
    font-family: "proxima_nova_rgregular" !important;
    font-size:17px !important;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow{
    display: none !important;
}
.cta-card__content{
    color: #3f3c40;
}



@media (min-width: 1025px){
    .quick{
        margin-right:-70px;
    }
}
@media (max-width: 1024px){
    #top{
        height:85px !important;
    }
    
    .btn.booktour,.btn.viewtour{
        font-size:10px !important;
        width:40% !important;
    }
    .btn.booktour a{
        margin-right: 11px;
    }
    .btn.viewtour a{
        margin: 11px;
    }
    h4{
        font-size: 20px;
    }
    span{
        font-size: 15px !important;
    }
    #mtatuong h2{
        font-size: 30px !important;
    }
    ul#menu-quick-links li a {
        font-size: 16px !important;
    }
    .nav-wrap.hide-on-print{
        position: absolute;
        top:0px;
        right: 0px;
    }
    #menu-quick-links{
        width:100% !important;
    }
    #forms{
        width:50% !important;
    }

} 
@media (max-width: 768px){
    #menu-main-menu li{
        margin-right: 20px;
    }
    .logo img{
        top:-20px !important;
    }
    .topdes h4{
        font-size:16px !important;
    }
    #mtatuong h2{
        font-size: 20px !important;
    }
    ul#menu-quick-links li a{
        font-size: 12px !important;
    }
    .nav-wrap.hide-on-print{
        position: absolute;
        top:0px;
        right: 0px;
    }
    #menu-quick-links{
        width:100% !important;
    }
    #forms{
        width:50% !important;
    }
    .logo__image{
        width: 100px !important;
        height: 100px !important;

    }
    .logo span{
        font-size:12px !important;
    }
    #top{
        height:90px !important;
    }
    .columnmmm img{
        height: 150px;
    }
    .columnmm img{
        height: 100px;
    }
    .column iframe{
        height:300px;
    }
    .btn.booktour,.btn.viewtour{
        font-size:10px !important;
        width:90% !important;
    }
    footer ul li a{
        font-size: 10px !important;
    }
    .owl-carousel.owl-theme.owl-loaded{
        margin-left: 10px !important;
    }
    .owl-prev img {
        width: 25px;
        margin-left: 14px;
    }
    .owl-next img {
        width: 25px;
        margin-right: 14px;
    }
}
@media (max-width: 480px){
    /*body{
        overflow: visible !important; 
    }*/
    .js-ready .offcanvas {
        height: auto !important;
        width: 300px !important;
    }
    .columnmm img{
        height: 200px !important;
        padding-left:9px !important;
    }

}
    